.content {
  /* background-color: hsl(50 33% 25% / 75%); */
  min-height: 500px;
  width: 100%;
  padding: 4rem;
  color: white;
}
.content__image > img {
  width: 400px;
  border-radius: 5px;
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-center > p {
  padding: 2rem;
  text-align: start;
}
