/* src/components/Navbar.css */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  padding: 1rem;
}
.navbar-logo {
  font-size: 1.5rem;
  align-self: baseline;
  z-index: 1;
}
.navbar-links {
  list-style: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100%;
  position: absolute;
  height: 100vh;
  top: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(+100%);
}
.navbar-links-open {
  transform: translateX(0);
}
.navbar-item {
  margin: 0.5rem 0;
}
.navbar-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu {
  --s: 1.5rem; /* control the size */
  --c: white; /* the color */
  right: 2rem;
  z-index: 1;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: absolute;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: '';
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 100;
  }
  .navbar-logo {
    margin-bottom: 0;
  }

  .navbar-links {
    position: relative;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 2rem;
    transform: translateX(0);
  }
  .navbar-item {
    margin: 0 1rem;
  }
  .menu {
    display: none;
  }
}
